/* CSS layout */
/* CSS Generic to Every Page */
#masthead {
    background-image: url(resources/gradient_tile.gif);
    background-repeat: repeat-x;
	height: 97px;
	color: #FFFFFF;
}
#top_nav {
	height: 20px;
	background-color: #999999;
}
#page_content {
	height: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}
#footer {
	font: normal normal bold x-small Arial, Helvetica, sans-serif;
	background-color: #33ff33;
	height: 53px;
	position: relative;
	/*top: 70%;*/
	/*top: 100px;*/ 
	clear: left;
}
/* CSS for default.htm */
#loginDiv {
	top: 50px;
	width: 282px;
	height: 248px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(resources/signin.gif);
}
/* CSS for status.htm */
/* Link CSS */
a:visited {
	font-weight: bold;
	background: transparent;
	text-decoration: none;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
}
a:link {
	font-weight: bold;
	background: transparent;
	border: none;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
}
a:hover {
	color: #999999;
	font-weight: bold;
	background: transparent;
	text-decoration: none;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
}
a:active {
	color: #999999;
	font-weight: bold;
	background: transparent;
	text-decoration: none;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
}
.nav1 a:visited {
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	background-color: #666666;
	border: 1px solid #ffffff;
	display: block;
	padding: 3px;
}
.nav1 a:link {
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	background-color: #666666;
	border: 1px solid #ffffff;
	display: block;
	padding: 3px;
}
.nav1 a:hover {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	background-color: #33ff33;
	border: 1px solid #ffffff;
	display: block;
	padding: 3px;
}
.nav1 a:active {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	background-color: #33ff33;
	border: 1px solid #ffffff;
	display: block;
	padding: 3px;
}
/* Misc */
.transparent {
   filter:alpha(opacity=60); 
   -moz-opacity: 0.6; 
   opacity: 0.6; 
}
